<!doctype html>
<title>Hello from Flask</title>
{% if typ == 'img' %}
  <img src="{{data}}"></img>
{% elif typ == 'video' %}
  <video src="{{data}}" controls="controls" preload="auto"></video>
{% elif typ == 'doc' %}
  <embed src='{{data}}' width=100% height=100%></embed>
{% else %}
  <h1>不支持的类型！</h1>
{% endif %}